.account-transactions {
  display: block;
}

.account-transactions-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
