<h2>PWA version</h2>

<div>
  <p>
    <app-fr-about></app-fr-about>
  </p>
  <p>
    Le but de cette application est de garder le tout simple et sans IA (à moins
    qu'elle soit locale): vos données vous appartiennent. Il n'y a pas de
    serveur! Les données sont gardées dans le fureteur ou dans un fichier local
    lorsque vous choisissez de sauvegarder. Il est toujours possible d'effacer
    les données contenus dans le fureteur à partir de l'application elle-même.
  </p>
  <p>
    L'application est conçue en tant que PWA (Progressive Web App) afin de
    pouvoir l'installer sur votre tablette ou ordinateur pour un usage sans être
    connecté.
  </p>
</div>
