.main-menu {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;

    li {
      font-size: 20px;
      mat-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
