<h2>PWA version</h2>

<div>
  <p>
    <app-en-about></app-en-about>
  </p>
  <p>
    One of the goal of this application is to keep it simple and AI free: you
    own and keep your data. There's no server, data is kept in the browser or in
    a local file when you save it. You can always clear the browser data content
    from the app itself.
  </p>
  <p>
    It's designed as a PWA (Progressive Web App) which means it can be installed
    on your device and used offline to provide a desktop like experience.
  </p>
</div>
