<app-page>
  <app-page-menu>
    <app-page-menu-button
      icon="table_chart"
      [label]="'menu.newColumnsMapping' | translate"
      (clicked)="onNewColumnsMapping()"
    />
    <app-page-menu-button
      icon="account_balance"
      [label]="'menu.newAccount' | translate"
      (clicked)="onNewAccount()"
    />
  </app-page-menu>

  <div class="menu-page-divider"></div>

  <div class="flex-row">
    <mat-card class="column-50">
      <span class="section-title">{{ 'home.columnsMapping' | translate }}</span>
      <app-columns-mapping-list class="columns-mapping-list" />
    </mat-card>
    <mat-card class="column-50">
      <span class="section-title">{{ 'home.accounts' | translate }}</span>
      <app-account-list class="account-list" />
    </mat-card>
  </div>
</app-page>
