<app-page>
  <app-page-menu>
    <app-page-menu-button
      icon="library_add"
      [label]="'menu.newJournal' | translate"
      (clicked)="onNewJournal()"
    />
    <app-page-menu-button
      icon="table_chart"
      [label]="'menu.newColumnsMapping' | translate"
      (clicked)="onNewColumnsMapping()"
    />
  </app-page-menu>

  <div class="menu-page-divider"></div>

  <div class="flex-row">
    <mat-card class="column-50">
      <span class="section-title">Journals</span>
      <app-journal-list class="journal-list" />
    </mat-card>
    <mat-card class="column-50">
      <span class="section-title">Columns Mapping</span>
      <app-columns-mapping-list class="columns-mapping-list" />
    </mat-card>
  </div>
</app-page>
