:host {
  display: block;
}

.account-graphs__accordion {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.graph {
  border-bottom: 1px solid var(--mat-sys-outline, inherit);
  flex-grow: 1;

  .app-recurring-pie-chart {
    height: 100%;
  }
}
