<div class="account-graphs">
  <app-date-range
    [startMonth]="startMonth()"
    [endMonth]="endMonth()"
    [(dateMonthRange)]="dateMonthRange"></app-date-range>

  <mat-accordion class="account-graphs__accordion" multi>
    <mat-expansion-panel class="graph" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'recurringPieChart.title' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-recurring-pie-chart
        class="app-recurring-pie-chart"
        [recurringTransactions]="
          recurringTransactions()
        "></app-recurring-pie-chart>
    </mat-expansion-panel>

    <mat-expansion-panel class="graph" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'balanceTrendGraph.title' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-balance-trend-graph
        [accountId]="accountId()"
        [startMonth]="startMonth()"
        [endMonth]="endMonth()" />
    </mat-expansion-panel>
  </mat-accordion>
</div>
